* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "roboto", sans-serif;
}
.icon {
  position: fixed;
  top: 85%;
  right: 4%;
  cursor: pointer;
}
.icon img {
  width: 120px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #6f6af7;
  color: white;
  padding: 20px 30px;
  position: fixed;
  width: 100%;
  top: 0%;
  z-index: 1000;
}
.nav-brand a {
  text-decoration: none;
  color: white;
}
.nav-brand img {
  height: 25px;
}
.nav-items {
  list-style-type: none;
  display: flex;
}

.nav-items a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding-left: 60px;
}
.search input {
  border-radius: 12px;
  line-height: 17px;
  border: none;
  padding: 7px;
}
.search i {
  margin-left: -30px;
  cursor: pointer;
  color: black;
}
.toggle img {
  width: 25px;
  height: 25px;
}
main {
  margin: 5% 4%;
}

.social-icon {
  position: sticky;
  top: 30%;
  left: 150%;
  width: 100px;
  cursor: pointer;
}
.social-icon img {
  width: 50px;
  height: auto;
  position: absolute;
}
.section1 {
  display: flex;
  padding-top: 5%;
}
.img1 {
  height: 400px;
}
.para {
  background-color: #e5d8ff;
  margin: 0px 4%;
  border-radius: 10px;
  padding: 25px;
}
.cards-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
  width: 100%;
  margin: 4% 0;
}
.card {
  border-radius: 8px;
  padding: 15px;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  flex: 1 1 calc(25% -15px);
  width: 20%;
}
/* flex: 1 1 calc(25% - 20px); allows each card to take up roughly 25% of the container’s width, minus the gap between cards.
 This makes 4 cards fit in a row by default. */
.info-form {
  display: flex;
  background-color: #483eff;
  padding: 10px 20px;
  width: 100%;
  border-radius: 8px;
  margin-right: 5%;
}
.info-form .left {
  margin: 2% 4%;
}
.info-form .left button {
  background-color: transparent;
  color: white;
  cursor: pointer;
  border-radius: 8px;
  padding: 17px 35px;
  font-size: 16px;
  text-align: center;
  border: 1px solid white;
  margin-top: 25%;
  width: 100%;
}
.info-form .left .selected {
  background-color: rgb(199, 235, 248);
  color: black;
}
.left button:focus {
  outline: none;
}

.right {
  margin: 10px;
  background-color: white;
  padding: 3% 2%;
  width: 100%;
  border-radius: 8px;
}
.right p {
  margin-left: 20px;
}

.next {
  background-color: black;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  padding: 11px 22px;
  font-size: 20px;
  border: 1px solid white;
  margin-top: 10%;
  margin-left: 80%;
}

@media (max-width: 768px) {
  .card {
    flex: 1 1 calc(50% -15px); /* 2 cards per row on small screen*/
  }
  .nav-items a {
    padding-left: 20px;
  }
}

@media (max-width: 480px) {
  .card {
    flex: 1 1 100%; /*1 card per row on very small screen */
  }
  .section1 {
    flex-direction: column;
  }
  .nav-items a {
    padding-left: 5px;
  }
}
